In [1]:
import pandas as pd

# Load the data

In [2]:
df_apples = pd.read_csv("../data/fruit-consumption-by-fruit-type.csv")
df_visits = pd.read_csv("../data/doctor-visits-raw.csv")

# Data Processing

## Doctors visits

In [3]:
# For visibility, display how the dataframe looks at the beginning
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2652 entries, 0 to 2651
Data columns (total 54 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   STRUCTURE             2652 non-null   object
 1   STRUCTURE_ID          2652 non-null   object
 2   STRUCTURE_NAME        2652 non-null   object
 3   ACTION                2652 non-null   object
 4   REF_AREA              2652 non-null   object
 5   Reference area        2652 non-null   object
 6   MEASURE               2652 non-null   object
 7   Measure               2652 non-null   object
 8   UNIT_MEASURE          2652 non-null   object
 9   Unit of measure       2652 non-null   object
 10  MEDICAL_PROCEDURE     2652 non-null   object
 11  Medical procedure     2652 non-null   object
 12  OCCUPATION            2652 non-null   object
 13  Occupation            2652 non-null   object
 14  DIAGNOSTIC_TYPE       2652 non-null   object
 15  Diagnostic category   2652 non-null   object
 16  PROVIDER              2652 non-null   object
 17  Provider              2652 non-null   object
 18  FUNCTION              2652 non-null   object
 19  Healthcare function   2652 non-null   object
 20  MODE_PROVISION        2652 non-null   object
 21  Mode of provision     2652 non-null   object
 22  CARE_TYPE             2652 non-null   object
 23  Care type             2652 non-null   object
 24  HEALTH_FACILITY       2652 non-null   object
 25  Medical technology    2652 non-null   object
 26  AGE                   2652 non-null   object
 27  Age                   2652 non-null   object
 28  SEX                   2652 non-null   object
 29  Sex                   2652 non-null   object
 30  DATA_SRCE             2652 non-null   object
 31  Data source           2652 non-null   object
 32  WAITING_TIME          2652 non-null   object
 33  Waiting time          2652 non-null   object
 34  DISEASE               2652 non-null   object
 35  Disease               2652 non-null   object
 36  CANCER_SITE           2652 non-null   object
 37  Cancer site           2652 non-null   object
 38  CONSULTATION_TYPE     2652 non-null   object
 39  Consultation type     2652 non-null   object
 40  TIME_PERIOD           2652 non-null   int64
 41  Time period           0 non-null      float64
 42  OBS_VALUE             2652 non-null   float64
 43  Observation value     0 non-null      float64
 44  OBS_STATUS            422 non-null    object
 45  Observation status    422 non-null    object
 46  OBS_STATUS2           13 non-null     object
 47  Observation status 2  13 non-null     object
 48  OBS_STATUS3           0 non-null      float64
 49  Observation status 3  0 non-null      float64
 50  UNIT_MULT             0 non-null      float64
 51  Unit multiplier       0 non-null      float64
 52  DECIMALS              0 non-null      float64
 53  Decimals              0 non-null      float64
dtypes: float64(9), int64(1), object(44)
memory usage: 1.1+ MB

In [4]:
# Select only in person visits
df_visits = df_visits[df_visits["Consultation type"] == "In-person"]

df_visits = df_visits.rename(
    columns={
        "OBS_VALUE": "visits_pro_capita",
        "Reference area": "country",
        "TIME_PERIOD": "year",
    }
)

In [5]:
# Summing dentists and medical doctors (they both count as a visit)
df_visits = df_visits.groupby(["country", "year"])["visits_pro_capita"].sum().reset_index()

In [6]:
# Transform the DataFrame to have countries as the index and years as columns
df_visits = df_visits.pivot(
    index="country", 
    columns="year", 
    values="visits_pro_capita"
)
df_visits.columns.name = None

In [7]:
# Rename some countries to ensure consistent and homogeneous naming.
# Assumption: 'Korea' refers to 'South Korea' due to data unavailability for North Korea.
df_visits = df_visits.rename(index={
    "Korea": "South Korea",
    "Slovak Republic": "Slovakia",
    "TÃ¼rkiye": "Turkey"
})

In [8]:
# For visibility, display how the dataframe looks at the end
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, Australia to United States
Data columns (total 64 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    6 non-null      float64
 1   1961    6 non-null      float64
 2   1962    7 non-null      float64
 3   1963    7 non-null      float64
 4   1964    7 non-null      float64
 5   1965    8 non-null      float64
 6   1966    9 non-null      float64
 7   1967    9 non-null      float64
 8   1968    9 non-null      float64
 9   1969    10 non-null     float64
 10  1970    12 non-null     float64
 11  1971    10 non-null     float64
 12  1972    11 non-null     float64
 13  1973    11 non-null     float64
 14  1974    11 non-null     float64
 15  1975    13 non-null     float64
 16  1976    12 non-null     float64
 17  1977    13 non-null     float64
 18  1978    13 non-null     float64
 19  1979    14 non-null     float64
 20  1980    22 non-null     float64
 21  1981    18 non-null     float64
 22  1982    17 non-null     float64
 23  1983    17 non-null     float64
 24  1984    17 non-null     float64
 25  1985    24 non-null     float64
 26  1986    22 non-null     float64
 27  1987    24 non-null     float64
 28  1988    23 non-null     float64
 29  1989    24 non-null     float64
 30  1990    25 non-null     float64
 31  1991    28 non-null     float64
 32  1992    27 non-null     float64
 33  1993    27 non-null     float64
 34  1994    27 non-null     float64
 35  1995    28 non-null     float64
 36  1996    29 non-null     float64
 37  1997    30 non-null     float64
 38  1998    28 non-null     float64
 39  1999    31 non-null     float64
 40  2000    31 non-null     float64
 41  2001    31 non-null     float64
 42  2002    32 non-null     float64
 43  2003    33 non-null     float64
 44  2004    31 non-null     float64
 45  2005    33 non-null     float64
 46  2006    34 non-null     float64
 47  2007    36 non-null     float64
 48  2008    34 non-null     float64
 49  2009    37 non-null     float64
 50  2010    37 non-null     float64
 51  2011    37 non-null     float64
 52  2012    38 non-null     float64
 53  2013    35 non-null     float64
 54  2014    38 non-null     float64
 55  2015    38 non-null     float64
 56  2016    38 non-null     float64
 57  2017    42 non-null     float64
 58  2018    39 non-null     float64
 59  2019    40 non-null     float64
 60  2020    37 non-null     float64
 61  2021    37 non-null     float64
 62  2022    34 non-null     float64
 63  2023    7 non-null      float64
dtypes: float64(64)
memory usage: 22.3+ KB

## Apple consumption

In [9]:
# For visibility, display how the dataframe looks at the beginning
df_apples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12592 entries, 0 to 12591
Data columns (total 14 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   Entity                                                                                                                  12592 non-null  object
 1   Code                                                                                                                    9973 non-null   object
 2   Year                                                                                                                    12592 non-null  int64
 3   Dates | 00002619 || Food available for consumption | 0645pc || kilograms per year per capita                            11505 non-null  float64
 4   Grapefruit | 00002613 || Food available for consumption | 0645pc || kilograms per year per capita                       11909 non-null  float64
 5   Citrus, Other | 00002614 || Food available for consumption | 0645pc || kilograms per year per capita                    11549 non-null  float64
 6   Lemons and limes | 00002612 || Food available for consumption | 0645pc || kilograms per year per capita                 11926 non-null  float64
 7   Pineapples | 00002618 || Food available for consumption | 0645pc || kilograms per year per capita                       12315 non-null  float64
 8   Plantains | 00002616 || Food available for consumption | 0645pc || kilograms per year per capita                        9155 non-null   float64
 9   Grapes and products (excl wine) | 00002620 || Food available for consumption | 0645pc || kilograms per year per capita  12479 non-null  float64
 10  Apples | 00002617 || Food available for consumption | 0645pc || kilograms per year per capita                           12592 non-null  float64
 11  Bananas | 00002615 || Food available for consumption | 0645pc || kilograms per year per capita                          12257 non-null  float64
 12  Oranges | 00002611 || Food available for consumption | 0645pc || kilograms per year per capita                          12539 non-null  float64
 13  Fruits, other | 00002625 || Food available for consumption | 0645pc || kilograms per year per capita                    12592 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 1.3+ MB

In [10]:
# Select only apples, that's what we are interested in
df_apples = df_apples.rename(
    columns={
        "Apples | 00002617 || Food available for consumption | 0645pc || kilograms per year per capita": 
        "consumption_pro_capita_kg",
        "Entity": "country",
        "Year": "year",
    }
)

In [11]:
# Transform the DataFrame to have countries as the index and years as columns
df_apples = df_apples.pivot(
    index="country", 
    columns="year", 
    values="consumption_pro_capita_kg"
)
df_apples.columns.name = None

In [12]:
# For visibility, display how the dataframe looks at the end
df_apples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 238 entries, Afghanistan to Zimbabwe
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1961    194 non-null    float64
 1   1962    194 non-null    float64
 2   1963    194 non-null    float64
 3   1964    194 non-null    float64
 4   1965    194 non-null    float64
 5   1966    194 non-null    float64
 6   1967    194 non-null    float64
 7   1968    194 non-null    float64
 8   1969    194 non-null    float64
 9   1970    195 non-null    float64
 10  1971    194 non-null    float64
 11  1972    194 non-null    float64
 12  1973    194 non-null    float64
 13  1974    194 non-null    float64
 14  1975    194 non-null    float64
 15  1976    194 non-null    float64
 16  1977    194 non-null    float64
 17  1978    194 non-null    float64
 18  1979    194 non-null    float64
 19  1980    195 non-null    float64
 20  1981    194 non-null    float64
 21  1982    194 non-null    float64
 22  1983    194 non-null    float64
 23  1984    194 non-null    float64
 24  1985    194 non-null    float64
 25  1986    194 non-null    float64
 26  1987    194 non-null    float64
 27  1988    194 non-null    float64
 28  1989    194 non-null    float64
 29  1990    196 non-null    float64
 30  1991    195 non-null    float64
 31  1992    214 non-null    float64
 32  1993    215 non-null    float64
 33  1994    215 non-null    float64
 34  1995    215 non-null    float64
 35  1996    215 non-null    float64
 36  1997    215 non-null    float64
 37  1998    215 non-null    float64
 38  1999    215 non-null    float64
 39  2000    217 non-null    float64
 40  2001    217 non-null    float64
 41  2002    217 non-null    float64
 42  2003    217 non-null    float64
 43  2004    217 non-null    float64
 44  2005    217 non-null    float64
 45  2006    218 non-null    float64
 46  2007    218 non-null    float64
 47  2008    218 non-null    float64
 48  2009    218 non-null    float64
 49  2010    221 non-null    float64
 50  2011    221 non-null    float64
 51  2012    222 non-null    float64
 52  2013    222 non-null    float64
 53  2014    222 non-null    float64
 54  2015    222 non-null    float64
 55  2016    222 non-null    float64
 56  2017    222 non-null    float64
 57  2018    222 non-null    float64
 58  2019    228 non-null    float64
 59  2020    228 non-null    float64
 60  2021    228 non-null    float64
dtypes: float64(61)
memory usage: 115.3+ KB

# Save preprocessed data

In [13]:
df_apples.to_csv("../data/apple-consumption.csv")
df_visits.to_csv("../data/doctor-visits.csv")