In [1]:
import pandas as pd

# Load the data

In [2]:
df_apples = pd.read_csv("../data/fruit-consumption-by-fruit-type.csv")
df_visits = pd.read_csv("../data/doctor-visits-raw.csv")

# Data Processing

## Doctors visits

In [3]:
# For visibility, display how the dataframe looks at the beginning
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2652 entries, 0 to 2651
Data columns (total 54 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   STRUCTURE             2652 non-null   object
 1   STRUCTURE_ID          2652 non-null   object
 2   STRUCTURE_NAME        2652 non-null   object
 3   ACTION                2652 non-null   object
 4   REF_AREA              2652 non-null   object
 5   Reference area        2652 non-null   object
 6   MEASURE               2652 non-null   object
 7   Measure               2652 non-null   object
 8   UNIT_MEASURE          2652 non-null   object
 9   Unit of measure       2652 non-null   object
 10  MEDICAL_PROCEDURE     2652 non-null   object
 11  Medical procedure     2652 non-null   object
 12  OCCUPATION            2652 non-null   object
 13  Occupation            2652 non-null   object
 14  DIAGNOSTIC_TYPE       2652 non-null   object
 15  Diagnostic category   2652 non-null   object
 16  PROVIDER              2652 non-null   object
 17  Provider              2652 non-null   object
 18  FUNCTION              2652 non-null   object
 19  Healthcare function   2652 non-null   object
 20  MODE_PROVISION        2652 non-null   object
 21  Mode of provision     2652 non-null   object
 22  CARE_TYPE             2652 non-null   object
 23  Care type             2652 non-null   object
 24  HEALTH_FACILITY       2652 non-null   object
 25  Medical technology    2652 non-null   object
 26  AGE                   2652 non-null   object
 27  Age                   2652 non-null   object
 28  SEX                   2652 non-null   object
 29  Sex                   2652 non-null   object
 30  DATA_SRCE             2652 non-null   object
 31  Data source           2652 non-null   object
 32  WAITING_TIME          2652 non-null   object
 33  Waiting time          2652 non-null   object
 34  DISEASE               2652 non-null   object
 35  Disease               2652 non-null   object
 36  CANCER_SITE           2652 non-null   object
 37  Cancer site           2652 non-null   object
 38  CONSULTATION_TYPE     2652 non-null   object
 39  Consultation type     2652 non-null   object
 40  TIME_PERIOD           2652 non-null   int64
 41  Time period           0 non-null      float64
 42  OBS_VALUE             2652 non-null   float64
 43  Observation value     0 non-null      float64
 44  OBS_STATUS            422 non-null    object
 45  Observation status    422 non-null    object
 46  OBS_STATUS2           13 non-null     object
 47  Observation status 2  13 non-null     object
 48  OBS_STATUS3           0 non-null      float64
 49  Observation status 3  0 non-null      float64
 50  UNIT_MULT             0 non-null      float64
 51  Unit multiplier       0 non-null      float64
 52  DECIMALS              0 non-null      float64
 53  Decimals              0 non-null      float64
dtypes: float64(9), int64(1), object(44)
memory usage: 1.1+ MB

In [4]:
# Select only in person visits
df_visits = df_visits[df_visits["Consultation type"] == "In-person"]

df_visits = df_visits.rename(
    columns={
        "OBS_VALUE": "visits_pro_capita",
        "Reference area": "country",
        "TIME_PERIOD": "year",
    }
)

In [5]:
# Summing dentists and medical doctors (they both count as a visit)
df_visits = df_visits.groupby(["country", "year"])["visits_pro_capita"].sum().reset_index()

In [6]:
# Rename some countries to ensure consistent and homogeneous naming.
# Assumption: 'Korea' refers to 'South Korea' due to data unavailability for North Korea.
df_visits["country"] = df_visits["country"].replace({
    "Korea": "South Korea",
    "Slovak Republic": "Slovakia",
    "TÃ¼rkiye": "Turkey"
})

In [7]:
# For visibility, display how the dataframe looks at the end
df_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1515 entries, 0 to 1514
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            1515 non-null   object
 1   year               1515 non-null   int64
 2   visits_pro_capita  1515 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 35.6+ KB

## Apple consumption

In [8]:
# For visibility, display how the dataframe looks at the beginning
df_apples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12592 entries, 0 to 12591
Data columns (total 14 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   Entity                                                                                                                  12592 non-null  object
 1   Code                                                                                                                    9973 non-null   object
 2   Year                                                                                                                    12592 non-null  int64
 3   Dates | 00002619 || Food available for consumption | 0645pc || kilograms per year per capita                            11505 non-null  float64
 4   Grapefruit | 00002613 || Food available for consumption | 0645pc || kilograms per year per capita                       11909 non-null  float64
 5   Citrus, Other | 00002614 || Food available for consumption | 0645pc || kilograms per year per capita                    11549 non-null  float64
 6   Lemons and limes | 00002612 || Food available for consumption | 0645pc || kilograms per year per capita                 11926 non-null  float64
 7   Pineapples | 00002618 || Food available for consumption | 0645pc || kilograms per year per capita                       12315 non-null  float64
 8   Plantains | 00002616 || Food available for consumption | 0645pc || kilograms per year per capita                        9155 non-null   float64
 9   Grapes and products (excl wine) | 00002620 || Food available for consumption | 0645pc || kilograms per year per capita  12479 non-null  float64
 10  Apples | 00002617 || Food available for consumption | 0645pc || kilograms per year per capita                           12592 non-null  float64
 11  Bananas | 00002615 || Food available for consumption | 0645pc || kilograms per year per capita                          12257 non-null  float64
 12  Oranges | 00002611 || Food available for consumption | 0645pc || kilograms per year per capita                          12539 non-null  float64
 13  Fruits, other | 00002625 || Food available for consumption | 0645pc || kilograms per year per capita                    12592 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 1.3+ MB

In [9]:
# Select only apples, that's what we are interested in
df_apples = df_apples.rename(
    columns={
        "Apples | 00002617 || Food available for consumption | 0645pc || kilograms per year per capita": 
        "consumption_pro_capita_kg",
        "Entity": "country",
        "Year": "year",
    }
)

In [10]:
# For visibility, display how the dataframe looks at the end
df_apples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12592 entries, 0 to 12591
Data columns (total 14 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   country                                                                                                                 12592 non-null  object
 1   Code                                                                                                                    9973 non-null   object
 2   year                                                                                                                    12592 non-null  int64
 3   Dates | 00002619 || Food available for consumption | 0645pc || kilograms per year per capita                            11505 non-null  float64
 4   Grapefruit | 00002613 || Food available for consumption | 0645pc || kilograms per year per capita                       11909 non-null  float64
 5   Citrus, Other | 00002614 || Food available for consumption | 0645pc || kilograms per year per capita                    11549 non-null  float64
 6   Lemons and limes | 00002612 || Food available for consumption | 0645pc || kilograms per year per capita                 11926 non-null  float64
 7   Pineapples | 00002618 || Food available for consumption | 0645pc || kilograms per year per capita                       12315 non-null  float64
 8   Plantains | 00002616 || Food available for consumption | 0645pc || kilograms per year per capita                        9155 non-null   float64
 9   Grapes and products (excl wine) | 00002620 || Food available for consumption | 0645pc || kilograms per year per capita  12479 non-null  float64
 10  consumption_pro_capita_kg                                                                                               12592 non-null  float64
 11  Bananas | 00002615 || Food available for consumption | 0645pc || kilograms per year per capita                          12257 non-null  float64
 12  Oranges | 00002611 || Food available for consumption | 0645pc || kilograms per year per capita                          12539 non-null  float64
 13  Fruits, other | 00002625 || Food available for consumption | 0645pc || kilograms per year per capita                    12592 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 1.3+ MB

# Save preprocessed data

In [11]:
df_apples.to_csv("../data/apple-consumption.csv")
df_visits.to_csv("../data/doctor-visits.csv")